@media screen and (max-width: 768px) {
    #subscribe-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.jumbotron {
    color: #000;
    background-color:#548CDF;
    height: 100vh;
    padding: 40vh 40px;
    background-image: url(img/header.gif);
    background-position: center;
    background-size:cover;
    font-family: Montserrat, sans-serif;
    font-size: 2em;
}

#product {
    margin-bottom: 4%;
}

.text-head {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
}

#header-text {
    margin-left: 100px;
}

.r-padding {
    padding: 60px;
}

.grey-backg {
    background-color: #f8f8f8;
}

.logo-icon {
    font-size: 180px;
}

.logo-service {
    font-size: 50px;
}

.btn-color {
    background-color: #548CDF;
}

.navbar {
    background-color: ;
    font-family: Montserrat, sans-serif;
}

#logo-navbar {
    margin-top: -13px;
}

/*TESTIMONIALS*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #548CDF;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

/*Footer*/
footer {
    margin-bottom: 20px;
    margin-top: 20px;
}