.jumbotron {
    color: #000;
    background-color:#548CDF;
    padding: 40vh 40px;
    background-image: url(img/header.gif);
    background-position: center;
    background-size:cover;
}

#header-text {
    margin-left: 100px;
}

.r-padding {
    padding: 60px;
}

.grey-backg {
    background-color: #969CA8;
    color: #fff;
}

.logo-icon {
    font-size: 180px;
}

.logo-service {
    font-size: 50px;
}

.btn-color {
    background-color: #548CDF;
}

.navbar {
    background-color: black;
}

#logo-navbar {
    margin-top: -11px;
}

#white-band {
    position: absolute;
    height: 96%;
    width: 40%;
    background-color: rgba(255,255,255,0.5);
    top: -1px;
    left: 4px;
}